.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.typewriter {
  font-size: 50px;
  /* color: #868686; */
  font-weight: 700;
  margin: 2.5rem auto;
  /* background-color: black; */
  /* background-image: linear-gradient(to right, rgb(89, 89, 89), #c026d3); */
  /* background-image: linear-gradient(
    to right,
    rgb(162, 28, 175),
    rgb(232, 121, 249)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
