.mainSection {
  font-size: 0.7rem;
}
.section {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}
.section input {
  width: 100%;
  /* font-size: inherit; */
  /* font-size: 0.8rem; */
}
.draggable {
  width: auto;
}

.input:focus {
  outline: none;
}
.fo {
  font-size: 00.75rem !important;
}
.fo div input,
.fo div textarea {
  font-size: 0.9rem !important;
}
